@charset "UTF-8";

header {
    display: none;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article {
    line-height: 2em;
}

main > article::after {
    content: 'Site criado por Miqueias santos tomaz e adaptado por Gustavo guanabara para ser impresso.';
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}