@charset "UTF-8";

@media screen and (min-width: 576px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    #tablet {display: block;}
    #print {display: none;}
}

@media screen and (min-width: 992px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone {display: none;}
    #pc {display: block;}
    #tv {display: none;}
    #tablet {display: none;}
    #print {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone {display: none;}
    #pc {display: none;}
    #tv {display: block;}
    #tablet {display: none;}
    #print {display: none;}
}